<!DOCTYPE html>
<html lang="en">
<head>
  <title>More Recipes</title>
  <link rel="stylesheet" href="style.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
  <div class="col-md-6 mx-auto p-3 add_recipe-card text-center">
    <img src="./img/no-image.svg" width="350px" id="recipe-image-avatar" height="auto" class="img-fluid" alt="">
  </div>

  <!--Form to add recipe ingredients and quantity-->
  <div class="col-md-6 mx-auto p-3">
    <form action="#" method="post" enctype="multipart/form-data">
      <input type="file" name="recipe-image" id="recipe-image" accept="image/*" required>
      <h3 class="text-center p-4 center-hero-text">Add Ingredients</h3>

      <div class="form-row" id="recipe-quantity">
        <div class="col-sm-4 mb-1">
          <select class="btn dropdown-toggle" name="quantity" id="quantity">
            <option value="">Select quantity</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="col-sm-8">
          <div>
            <input type="text" name="ingredient[]" id="ingredient" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="float-right p-1">
        <input type="button" value="Add More" id="add-more-ingredient">
      </div>

      <div class="clearfix"></div>
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="recipe-direction"></label>
          <textarea class="form-control" placeholder="Give a detailed direction for this recipe:" name="recipe-direction" id="recipe-direction" cols="30" rows="10" required></textarea>
        </div>
      </div>

      <div class="float-right p-1">
        <input type="submit" class="" value="Submit">
      </div>

    </form>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>