nav {
	font-family: courier;
	font-weight: bold;
	}

a {
	font-color: #f4b011;
}
h4 {
	justify-content: center;
}
.btn  {
	background-color: #f4b011;
	font-weight: bold;
}
.jumbotron {
	background-image: url("/img/ban2.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}
footer {
	font-size: 12px;
	padding: 20px 0;
}

.container {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}