nav {
	background-color:  grey ;
	font-family: courier;
	font-weight: bold;
	}

a {
	font-color: #f4b011;
}
.btn  {
	background-color: #f4b011;
	font-weight: bold;
}
.jumbotron {
	background: ("banner.jpg");
	background-size: cover;
}
footer {
	font-size: 12px;
	padding: 20px 0;
	justify-content: center;
}